@import "components-theme";
@import "theme/components/grid";
@import "theme/components/buttons";

$column-factor: $total-columns / $content-columns;

.cc-device-detail {
  @include section(dialog);
  position: relative;

  &__title{
    padding: 0 $column-width 20px $column-width;
  }

  &__close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("./img/close.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15px;
    height: 15px;
  }

  // used a general element, because we do not want to repeatedly define the properties for each row
  >div{
    @include grid-row();

    // TODO: define right font color here
    color: $active-gray;
    padding: 10px $column-width 0 $column-width;

    &:nth-child(even) {
      background: $shade-row-even;
    }

    &:nth-child(odd) {
      background: $shade-row-odd;
    }

    &:last-child{
      background: none;
      padding-bottom: 10px;
    }
  }

  &__controls,
  &__properties,
  &__access-rights,
  &__details{
    @include grid-row();

  &__close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background: url("./img/close.svg") no-repeat;
    background-size: 100%;
    width: 15px;
    height: 15px;
  }

  &__controls{
    padding-bottom: 10px;

    &-label{
      @include grid-column(5 * $column-factor);
    }

    &-value{
      @include grid-column(5 * $column-factor);
      font-size: convert-to-rem(16px);

      &-room{
        width: 100%;
        font-family: source_sans_prolight, 'Helvetica Neue', Arial;
        background: $hint-gray;
      }

      &-description{
        width: 100%;
      }
    }
  }

  &__details{
    position: relative;

    &-device-state{
      position: absolute;
      bottom: 10px;
      right: $column-width;
    }
  }

  &__buttons {
    &-save {
      @include grid-column(5 * $column-factor);

      &-button {
        @include button($button-tny);
      }
    }

    &-delete {
      @include grid-column(5 * $column-factor);

      &-button {
        text-transform: uppercase;
      }
    }
  }
}
