// Use this mixin to align an element within its parent.
// The parent element needs #position to be set to #relative.
@mixin alignment($horizontal:true, $vertical:true) {
  position: absolute;

  $left: if($horizontal, 50%, 0);
  $top: if($vertical, 50%, 0);

  left: $left;
  top: $top;
  transform: translate(-$left, -$top);
}

@mixin vertically-centered () {
  display: inline-block;
  vertical-align: middle;
}

@mixin vertically-centered-content () {
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
