@import "foundation/components/grid";
@import "theme/variables/layout";
@import "theme/mixins/alignment";

@mixin grid-generator($columns_num) {

  // save global grid settings
  $row-width-old: $row-width;
  $total-columns-old: $total-columns;

  // recalculate new grid settings
  $row-width: $columns_num * $row-width / $total-columns;
  $total-columns: $columns_num;

  .row {
    @include grid-row;

    &.fixed-height {
      height: $column-height; // should it be $basic-padding?

      .columns {
        @include vertically-centered-content();
        height: $column-height; // should it be $basic-padding?

        & * {
          @include vertically-centered();
        }
      }
    }

    &.collapse {
       > .column,
       > .columns { @include grid-column($collapse:true, $float:false); }

      .row {margin-left:0; margin-right:0;}
    }

    .row { @include grid-row($behavior:nest);
      &.collapse { @include grid-row($behavior:nest-collapse); }
    }
  }

  .column,
  .columns {
    @include grid-column($columns:$total-columns);

    &.padded-left {
       padding-left: $quarter-padding;
    }
  }

  [class*="column"] + [class*="column"]:last-child { float: $last-child-float; }
  [class*="column"] + [class*="column"].end { float: $default-float; }

  @media #{$small-up} {
    @include grid-html-classes($size:small);
  }

  @media #{$medium-up} {
    @include grid-html-classes($size:medium);
    // Old push and pull classes
    @for $i from 0 through $total-columns - 1 {
      .push-#{$i} {
        @include grid-column($push:$i, $collapse:null, $float:false);
      }
      .pull-#{$i} {
        @include grid-column($pull:$i, $collapse:null, $float:false);
      }
    }
  }
  @media #{$large-up} {
    @include grid-html-classes($size:large);
    @for $i from 0 through $total-columns - 1 {
      .push-#{$i} {
        @include grid-column($push:$i, $collapse:null, $float:false);
      }
      .pull-#{$i} {
        @include grid-column($pull:$i, $collapse:null, $float:false);
      }
    }
  }

  @media #{$xlarge-up} {
    @include grid-html-classes($size:xlarge);
  }
  @media #{$xxlarge-up} {
    @include grid-html-classes($size:xxlarge);
  }

  &.padded {
    padding: 0 $basic-padding;
  }

  // restore global grid settings;
  $row-width: $row-width-old;
  $total-columns: $total-columns-old;
}
