@import "components-theme";
@import "theme/components/grid";
@import "theme/components/buttons";
@import "theme/mixins/section";

$column-factor: $total-columns / $section-columns;

.cc-settings {
  @include section();

  &__section {
    @include grid-row();

    margin-bottom: convert-to-rem(40px);

    &-form {
      @include grid-column($total-columns);
      padding-right: convert-to-rem(11px);

      @media #{$medium-up} {
        @include grid-column(9 * $column-factor);
      }
    }

    &-avatar {
      @include grid-column($total-columns);

      @media #{$medium-up} {
        @include grid-column(5 * $column-factor);
      }
    }

    &-info {
      @include grid-column($total-columns);

      @media #{$medium-up} {
        @include grid-column(9 * $column-factor);
      }
    }
  }

  &__divider {
    width: 100%;
    border: 1px $passive-gray solid;
  }

  &__save {
    @include button();
  }
}
