// this file contains all imports needed for components
// but no global definitions
@import "foundation/functions";

// Do not touch it
// This is a hacky hack from foundation itself, it helps us keep styles clean
@include exports("global") {}

// DO NOT MOVE OR THE UNIVERSE WILL DIE!!!111
@import "foundation/components/global";


$include-html-classes: false;


@import "theme/variables/colors";
@import "theme/variables/typography";
@import "theme/variables/layout";

@import "theme/mixins/alignment";

@import "layout.scss";
//@import "debug.scss";
