// this file contains all imports needed globally for the whole application
// but not for the components
@import "normalize";
@import "foundation/functions";

// turn off all classes by default
$include-html-classes: false;

// Basic markup-related classes should be ON
$include-html-global-classes: true;
// this is used for Headers, should be ON
$include-html-type-classes: true;

// this is used for toggling landscape/portrait and breakpoints-based visibility
$include-html-visibility-classes: true;
$include-html-icon-bar-classes: true;
$include-html-button-classes: true;

$include-html-grid-classes: true;
$include-xl-html-grid-classes: true;

@import "theme/variables/colors";
@import "theme/variables/typography";
@import "theme/variables/layout";
@import "theme/fonts/fonts";
@import "theme/fonts/icon-font";

// This entries should not be rearranged as the order has implications
@import "foundation/components/global";
@import "foundation/components/type";
@import "foundation/components/visibility";

@import "theme/mixins/alignment";
@import "theme/components/icon-bar";
@import "theme/components/buttons";
@import "theme/components/type";
@import "theme/components/grid";

@import "alignment";
//@import "debug.scss";

body {
  background-color: transparent;
}
