@import "theme";

.cc-device {
  @include grid-row();
  &__title {
    @include grid-column(6);
    font-size: 18px;
    color: $primary-color;
  }

  &__type {
    @include grid-column(6);
    font-size: 18px;
  }

  &__control {
    @include grid-column(4);
  }
  &__state{
    @include grid-column(4);
  }

}
