@import "theme";

.cc-device-detail {
  position: relative;
  &__title{
    margin: 15px 0 20px 0;
  }
  &__row {
    @include grid-row();
    width: 100%;
    //TODO: define right font color here
    color: $active-gray;
    padding: 10px 5% 0 5%;
    &:nth-child(even) {
      background: $shade-row-even;
    }
    &:nth-child(odd) {
      background: $shade-row-odd;
    }
    &:last-child{
      background: none;
      padding-bottom: 10px;
    }
  }
  &__close-button{
    position:absolute;
    top: 10px;
    right: 10px;
    background-image: url("./img/close.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15px;
    height: 15px;
  }
  &__labels, &__left-btn {
    @include grid-column(5);
    position: relative;
    height: 100%;
  }

  &__lbl {
    display: block;
    margin-bottom: 10px;
  }
  &__values, &__right-btn {
    @include grid-column(13);
    position: relative;
    height: 100%;
  }
  &__value {
    display: block;
    margin-bottom: 10px;
  }
  select {
    width: auto;
    font-family: source_sans_prolight, 'Helvetica Neue', Arial;
    font-size: 16px;
    background: $hint-gray;
  }
  &__delete-button {
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    line-height: 32px;
  }
}
