@import "theme";

.cc-device-detail {
  position: relative;

  // used a general element, because we do not want to repeatedly define the properties for each row
  >div{
    @include grid-row();
    // TODO: define right font color here
    color: $active-gray;
    padding: 10px $global-padding 0 $global-padding;

    &:nth-child(even) {
      background: $shade-row-even;
    }

    &:nth-child(odd) {
      background: $shade-row-odd;
    }

    &:last-child{
      background: none;
      padding-bottom: 10px;
    }
  }

  >div.cc-device-detail__headers {
    padding-top: 0;
  }

  &__title{
    padding-top: $global-padding;
    margin-bottom: 20px;
  }

  &__close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("./img/close.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15px;
    height: 15px;
  }

  &__controls{
    padding-bottom: 10px;
    &-label{
      @include grid-column(5);
    }

    &-values{
      @include grid-column(13);
    }
  }

  &__properties-row,
  &__access-rights-row,
  &__details-row{
    @include grid-row();
    padding-bottom: 10px;
    &-label{
      @include grid-column(5);
    }

    &-value{
      @include grid-column(7);
      font-size: convert-to-rem(16px);

      &-room{
        width: 100%;
        font-family: source_sans_prolight, 'Helvetica Neue', Arial;
        background: $hint-gray;
      }

      &-description{
        width: 100%;
      }
    }
  }

  &__details{
    position: relative;

    &-device-state{
      position: absolute;
      bottom: 10px;
      right: 5%;
    }
  }

  &__save {
    @include grid-column(5);
    position: relative;

    &-button {
      @include button($button-tny);
    }
  }

  &__delete {
    @include grid-column(5);
    position: relative;

    &-button {
      text-transform: uppercase;
    }
  }
}
