@import "theme";

// TODO: has to be a basic element
.cc__row {
  @include grid-row();
  width: 100%;
  // TODO: define right font color here
  color: $active-gray;
  padding: 10px 5% 0 5%;
  &:nth-child(even) {
    background: $shade-row-even;
  }
  &:nth-child(odd) {
    background: $shade-row-odd;
  }
  &:last-child{
    background: none;
    padding-bottom: 10px;
  }
}

.cc-device-detail {
  position: relative;
  &__title{
    margin: 15px 0 20px 0;
  }
  &__close-button{
    position:absolute;
    top: 10px;
    right: 10px;
    background-image: url("./img/close.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15px;
    height: 15px;
  }
  &__labels, &__left-button {
    @include grid-column(5);
    position: relative;
    height: 100%;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
  }
  &__values, &__right-button {
    @include grid-column(13);
    position: relative;
    height: 100%;
  }
  &__value {
    display: block;
    margin-bottom: 10px;
  }
  &__properties{
    select {
      width: 50%;
      font-family: source_sans_prolight, 'Helvetica Neue', Arial;
      font-size: 16px;
      background: $hint-gray;
    }
    input {
      width: 50%;
      font-size: 16px;
    }
  }
  &__save-button {
    @include button($button-tny);
    margin-top: 10px;
  }
  &__delete-button {
    text-transform: uppercase;
    margin-top: 5px;
    display: block;
    line-height: 32px;
  }
}
