$button-tny: rem-calc(2);
$button-font-tny: rem-calc(16);
$button-med: rem-calc(16);


.cc-button {
  @extend .button;

  text-transform: uppercase;
  box-shadow: 3px 3px 3px 0 $shadow;
  padding: $button-med rem-calc(8) $button-med rem-calc(8);
  min-width: rem-calc(125);
  line-height: rem-calc(18);
  margin: 0;

  &.tiny {
    line-height: normal;
    padding: 1.5 * $button-tny $button-tny $button-tny $button-tny;
    text-transform: uppercase;
  }

  &.secondary {
    background: transparent;
    text-transform: none;
    border: none;
    box-shadow: none;
    color: $primary-color;
  }
}

@import "foundation/components/buttons";
