$button-tny: rem-calc(2);
$button-font-tny: rem-calc(16);
$button-med: rem-calc(16);


.cc-button {
  @extend .button;

  text-transform: uppercase;
  padding-bottom: $button-med;
  box-shadow: 3px 3px 3px 0 $shadow;

  &.tiny {
    text-transform: uppercase;
  }

  &.secondary {
    background: transparent;
    text-transform: none;
    border: none;
    box-shadow: none;
    color: $primary-color;
  }
}

@import "foundation/components/buttons";
