@import "foundation/components/icon-bar";

// ICON BAR
$icon-bar-bg: green;
$icon-bar-active-color: $light-gray;
$icon-bar-font-color: $passive-gray;
$icon-bar-font-color-hover: $active-gray;
$icon-bar-hover-color: $hint-gray;
$icon-bar-font-size: $h2-font-size;
