// ICON BAR
$icon-bar-bg: transparent;
$icon-bar-active-color: transparent;
$icon-bar-icon-color: $gray-9;
$icon-bar-icon-color-hover: $active-gray;
$icon-bar-font-color: $gray-9;
$icon-bar-font-color-hover: $active-gray;
$icon-bar-hover-color: none;
$icon-bar-font-size: $h2-font-size;

@import "foundation/components/icon-bar";
