// ICON BAR
$icon-bar-bg: transparent;
$icon-bar-active-color: transparent;
$icon-bar-icon-color: $passive-gray;
$icon-bar-icon-color-hover: $active-gray;
$icon-bar-font-color: $passive-gray;
$icon-bar-font-color-hover: $active-gray;
$icon-bar-hover-color: $hint-gray;
$icon-bar-font-size: $h2-font-size;

@import "foundation/components/icon-bar";
