@import "components-theme";

.cc-lock-control {
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 30px;
  cursor: pointer;
  user-select: none;

  &__unlocked {
    background-image: url('./images/unlocked.png');
  }

  &__locked {
    background-image: url('./images/locked.png');
  }

}
