@import "components-theme";
@import "theme/components/grid.scss";

.cc-dialog {
  height: 100%;
  background-color: $dialog-overlay-background-color;

  &__header {
    height: 3 * $row-height;
  }
}
