/*
 * Foundation settings
 */
$include-html-classes: false;
$include-html-global-classes: true;
// this is used for Headers
$include-html-type-classes: true;
$include-html-grid-classes: false;
// this is used as extensions for sass-based styles
$include-html-visibility-classes: true;
// TODO: Remove when navigation bar uses mixin
$include-html-icon-bar-classes: true;
