// We use these as default colors throughout
$primary-color: #009900;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$default-gray: #B3B3B3;
$active-gray: #333333;
$passive-gray: #dadada;
$hint-gray: #c6c6c6;

$shade-white: #f6f6f6;
$shade-gray: #ededed;
$shade-header: #dadada;

$shadow: #c0c0c0;
