// default font
$body-font-family: 'source_sans_pro', 'Helvetica Neue', Arial;
$body-font-color: $default-text-black;

// We use these to control header font styles
$header-font-color: $active-gray;
// $header-line-height: normal;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;

$subheader-font-color: $subheader-gray;

// predefined theme font sizes
$h1-font-size: rem-calc(26);
$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(20);
$h4-font-size: rem-calc(18);
$h5-font-size: rem-calc(18);

// small screen reductions
$h1-font-reduction: rem-calc(6) !default;
$h2-font-reduction: rem-calc(6) !default;
$h3-font-reduction: rem-calc(2) !default;
$h4-font-reduction: rem-calc(2) !default;

// small font: <small>
$small-font-size: rem-calc(16);
$small-font-color: scale-color($header-font-color, $lightness: 35%);
