@import "components-theme";
@import "theme/components/grid.scss";
@import "theme/components/buttons.scss";

.discovery-mode-prompt {

  &__caption {
    display: inline-block;
    width: 100%;
    vertical-align: bottom !important;
    padding-left: 18px;
    background: $dialog-caption-background-color;
  }

  &__button-wrapper {
    padding-top: $row-height;
    background: linear-gradient(180deg, $dialog-background-color $row-height * 3.5, transparent $row-height * 0.5);

    > * {
      vertical-align: top !important;
    }
  }

  &__button-wrapper:first-child {
    padding-left: $column-width / 3;
  }

  &__button-wrapper:last-child {
    padding-right: $column-width / 3;
  }

  &__button {
    width: $column-width * 3;
    height: $row-height * 1.5;
    padding: 0;
    background-color: $gray-button-color;

    &-image {
      width: 100%;
      height: $row-height * 0.75;
      background: no-repeat center center;
      background-size: 50%;

      &.flashlight { background-image: url('./img/flashlight.svg'); }
      &.nest {       background-image: url('./img/nest.svg'); }
    }

    &:hover {
      .flashlight {  background-image: url('./img/flashlight-hover.svg'); }
      .nest {        background-image: url('./img/nest-hover.svg'); }
    }

    &-text {
      text-transform: none;
      font-size: rem-calc(14);
      line-height: 0;
      color: $gray-button-title-color;
    }

    &:hover &-text {
      color: $button-font-color;
    }
  }
}
