@import "components-theme";
@import "theme/components/grid.scss";

.discovery-mode-prompt {

  &__caption {
    display: inline-block;
    width: 100%;
    vertical-align: bottom !important;
    padding-left: 18px;
    background: $dialog-caption-background-color;
  }

  &__button-wrapper {
    padding-top: $row-height;
    background: linear-gradient(180deg, $dialog-background-color $row-height * 3.5, transparent $row-height * 0.5);

    > * {
      vertical-align: top !important;
    }
  }

  &__button {
    width: $column-width * 3;
    height: $row-height * 1.5;
    padding: 0;
    background-color: $gray-button-color;

    &-image {
      width: 100%;
      height: $row-height * 0.75;

      &.flashlight {
        background: url('./img/flashlight.png') no-repeat center center;
      }

      &.nest {
        background: url('./img/nest.png') no-repeat center center;
      }
    }

    &-text {
      text-transform: none;
      font-size: rem-calc(14);
      line-height: 0;
      color: $gray-button-title-color;
    }
  }
}
