@import "components-theme";
@import "theme/variables/layout";
@import "theme/mixins/alignment";

.cc_navigation {

  display: block;

  &.vertical {
    width: 100%;
  }

  &.vertical &__link {
    text-align: left;
  }

  &.horizontal {
    .item {
      width: 100px;
      text-align: left;
    }
  }

  & * {
    cursor: pointer;
  }

  &__link {
    padding: 0;
    // TODO: Padding shouldn't be used here, semantically not correct. Set height to 100% and set parent's height to row height
    height: $basic-padding;
    @include vertically-centered-content();

    * {
      @include vertically-centered();
    }
  }

  &__linkImage {
    float: left;
    margin: 5px 20px 0 10px !important;
  }

  &__linkLabel {
    font-size: $h2-font-size - $h2-font-reduction;
    @media #{$medium-up} {
      font-size: $h2-font-size;
    }
  }
}
