@import "components-theme";
@import "theme/variables/layout";
@import "theme/mixins/alignment";

.cc_navigation {

  @media #{$small-only} {
    display: block;
  }

  &.vertical {
    width: 100%;
  }

  &.vertical &__link {
    text-align: left;
  }

  &.horizontal {
    .item {
      width: 100px;
      text-align: left;
    }
  }

  & * {
    cursor: pointer;
  }

  &__link {
    padding: 0;
    height: $basic-padding;
    @include vertically-centered-content();

    * {
      @include vertically-centered();
    }
  }

  &__linkImage {
    float: left;
    margin: 5px 20px 0 10px !important;
  }

  &__linkLabel {
    font-size: $h2-font-size - $h2-font-reduction;
    @media #{$medium-up} {
      line-height: $header-line-height;
      font-size: $h2-font-size;
    }
  }
}
