@import "theme";

.cc_navigation {
  //TODO: use icon-bar mixin
  //@include icon-bar();

  &.icon-bar {
    background: transparent;

    &.vertical {
      width: 100%;
    }
  }

  .cc_navigation__link {
    text-align: left;
    color: $default-gray;
    padding: 10px 0 10px 0;

    &-image {
      width: 20px;
      height: 20px;
      margin: 0 20px 0 10px;
      background-color: $default-gray;
      float: left;

      &.devices {
        mask-image: url('./img/devices.svg');
      }
      &.settings {
        mask-image: url('./img/settings.svg');
      }
    }

    &.item {
      // Removes all background colors, such as for :hover
      background: transparent;
    }

    // .active is applied to selected link by foundation automatically
    &.active {
      font-weight: bold;
      color: $font-active-color;

      .cc_navigation__link-image {
        background-color: $font-active-color;
      }
    }
  }
}
