@import "components-theme";

.cc_navigation {

  @include icon-bar();

  &.vertical {
    width: 100%;
  }

  & * {
    cursor: pointer;
  }

  &__link {
    text-align: left;
    padding: 10px 0 10px 0;

    &-image {
      float: left;
      width: $icon-bar-image-width;
      height: $icon-bar-image-height;

      margin: 0 20px 0 10px !important;

      &.devices {
        background-image: url('./img/devices.svg');
      }

      &.settings {
        background-image: url('./img/settings.svg');
      }
    }


    &:hover {
      .cc_navigation__link-image {

      }
    }

    // .active is applied to selected link by foundation automatically
    &.active {
      &-image {

      }
    }
  }
}
