@import "theme";

.cc-user-info {
  .cc-user-info-item {
    @include grid-row();

    margin: convert-to-rem(20px) 0;

    &__label {
      @include grid-column($columns: 10, $float: left);

      &-text {
        @include cc-label();
        text-align: left;
      }
    }

    &__value {
      @include grid-column($columns: 10);

      &-text {
        @include cc-label(16px);
      }
    }
  }
}
