@import "theme";

@keyframes rotate {
  from { transform:rotate(0deg); }
  to   { transform:rotate(360deg); }
}

.cc-device-finder {
  &__spinner {
    background-image: url("./img/spinner.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;

    animation-name: cc-device-finder__rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__button {
    @include button();
  }

  &__status-warning {
    color: $alert-color;
    // TODO: Font does not appear bold enough, use distinct font?
    font-weight: 800;
    text-transform: uppercase;
  }
}

@keyframes cc-device-finder__rotate {
  from { transform:rotate(0deg); }
  to   { transform:rotate(360deg); }
}
