//
// Icon Font: icon-font
//

@font-face {
  font-family: "icon-font";
  src: url("./theme/fonts/icon-font.eot");
  src: url("./theme/fonts/icon-font.eot?#iefix") format("embedded-opentype"),
       url("./theme/fonts/icon-font.woff") format("woff"),
       url("./theme/fonts/icon-font.ttf") format("truetype"),
       url("./theme/fonts/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icon-font";
    src: url("./theme/fonts/icon-font.svg#icon-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-apps:before,
.icon-community:before,
.icon-devices:before,
.icon-rules:before,
.icon-settings:before {
  display: inline-block;
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-apps:before { content: "\f100"; }
.icon-community:before { content: "\f101"; }
.icon-devices:before { content: "\f102"; }
.icon-rules:before { content: "\f103"; }
.icon-settings:before { content: "\f104"; }

$font-icon-font-apps: "\f100";
$font-icon-font-community: "\f101";
$font-icon-font-devices: "\f102";
$font-icon-font-rules: "\f103";
$font-icon-font-settings: "\f104";
