@import "theme";

.main-screen {

  height: 100%;

  &__top-navigation {
    @include grid-row();
    @extend %visible-for-small-only;
  }

  &__body {
    @include grid-row();
    height: 100%;

    &-side-navigation {
      @include grid-column(6);
      @extend %hidden-for-small-only;
      height: 100%;
      padding-top: 50px;
    }

    &-content {
      @include grid-column(14);
      height: 100%;
      padding: 50px;
      background-color: $shade-gray;
      @media #{$small-only} {
        @include grid-column(20);
        padding: 50px;
      }
    }
  }

  &__title {
    font-size: convert-to-rem(32px);
    text-transform: uppercase;
  }
}
