@import "theme";

.main-screen {
  height: 100%;

  &__top {
    @include grid-row();
    @extend %visible-for-small-only;

    padding-left: $column-width;
    padding-top: 10px;
  }

  &__body {
    @include grid-row();
    height: 100%;

    &-left {
      @include grid-column($side-nav-columns);
      @extend %hidden-for-small-only;
      height: 100%;
      padding-top: $column-height;
      padding-left: $column-width;
    }

    &-content {
      @include grid-column($content-columns);
      height: 100%;
      background-color: $shade-gray;
      overflow: hidden;
      @media #{$small-only} {
        @include grid-column($total-columns);
      }
    }
  }

  &__title {
    color: $font-active-color;
    font-size: convert-to-rem(32px);
    text-transform: uppercase;
  }
}
