@import "theme";

.main-screen {
  @include grid-row();
  height: 100%;
}

.main-screen__top-row-small-only {
  @include grid-row();
}

.main-screen__content-row {
  @include grid-row();
  height: 100%;
}


.main-screen__sidebar-column {
  @include grid-column(6);
  height: 100%;
}

.main-screen__content-column {
  @include grid-column(20);
  background-color: $shade-gray;
  height: 100%;

  @media #{$medium-up} {
    @include grid-column(14);
  }
}

.main-screen--hidden-for-small {
  @extend .hide-for-small-only;
}

.main-screen--visible-for-small-only{
  @extend .visible-for-small-only
}
