@import "theme";

.main-screen {

  @include grid-row();
  height: 100%;

  &__top-row {
    @include grid-row();

    &.-visible-for-small-only {
      @extend %visible-for-small-only;
    }
  }

  &__content-row {
    @include grid-row();
    height: 100%;
  }

  &__sidebar-column {
    @include grid-column(6);
    height: 100%;

    &.-hidden-for-small {
      @extend %hidden-for-small-only;
    }
  }

  &__content-column {
    @include grid-column(20);
    background-color: $shade-gray;
    height: 100%;

    @media #{$medium-up} {
      @include grid-column(14);
    }
  }

}
