@import "components-theme";
@import "theme/components/grid";

.main-screen {
  height: 100%;

  &__top {
    @include grid-row();

    padding-left: $basic-padding;
    padding-top: $half-padding;
    padding-right: $basic-padding;
  }

  &__header {
    padding: $basic-padding 0 $basic-padding $basic-padding;
  }

  &__nav {
    padding-left: $basic-padding;
  }

  &__body {
    @include grid-row();
    height: 100%;

    &-left {
      @include grid-column($side-nav-columns);
      height: 100%;
    }

    &-content {
      @include grid-column($content-columns);
      height: 100%;
      background-color: $shade-gray;
      overflow: hidden;
      @media #{$small-only} {
        @include grid-column($total-columns);
      }
    }
  }
}
