@import "components-theme";
@import "theme/components/grid";

.main-screen {
  height: 100%;
  background-image: url('img/background.svg');
  background-size: 700px 700px;

  &__top {
    padding-left: $basic-padding;
    padding-right: $basic-padding;

    background-color: $shade-white;

    .row:first-child {
      .column {
        @include vertically-centered-content();
        height: 100%;
      }
    }
  }

  &__body {
    @include grid-row();
    height: 100%;

    &-left {
      @include grid-column($side-nav-columns);
      position: relative;
      height: 100%;
      padding-left: $basic-padding;
      background-color: $light-gray;
    }

    &-content {
      @include grid-column($content-columns);
      height: 100%;
      background-color: $shade-gray;
      overflow: auto;

      @media #{$screen} and (max-width: 910px) {
        @include grid-column($total-columns);
      }
    }
  }

  &__back {
    position: absolute;
    width: 35px;
    height: 35px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: url('img/back.svg') no-repeat;

    @media #{$screen} and (min-width: 910px) {
      left: -40px;
    }

    @media #{$screen} and (min-width: 1200px) {
      left: -100px;
    }
  }
}

.visible-for-small-to-medium {
  @media #{$screen} and (max-width: 910px) {
    display: inherit;
  }

  @media #{$screen} and (min-width: 911px) {
    display: none;
  }
}

.hide-for-small-to-medium {
  @media #{$screen} and (max-width: 910px) {
    display: none;
  }
}
