@import "components-theme";
@import "theme/components/grid";

.main-screen {
  height: 100%;
  background-image: url('img/background.svg');
  background-size: 700px 700px;

  &__top {
    padding-left: $basic-padding;
    padding-right: $basic-padding;

    background-color: $shade-white;

    .row:first-child {
      .column {
        @include vertically-centered-content();
        height: 100%;
      }
    }
  }

  &__nav {
    padding-left: $basic-padding;
  }

  &__body {
    @include grid-row();
    height: 100%;

    &-left {
      @include grid-column($side-nav-columns);
      height: 100%;
      background-color: $light-gray;
      position: relative;
    }

    &-content {
      @include grid-column($content-columns);
      height: 100%;
      background-color: $shade-gray;
      overflow: auto;

      @media #{$small-only} {
        @include grid-column($total-columns);
      }
    }
  }

  &__back {
    position: absolute;
    left: -50px;
    width: 35px;
    height: 35px;
    background: url('img/back.svg') no-repeat;

    @media #{$screen} and (max-width: 1220px) {
      position: static;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    @media #{$small-only} {
      margin-left: -20px;
      margin-top: -5px;
    }
  }
}
